@import "tailwindcss";

@theme {
  --animate-scale-in: scale-in 200ms ease;
  --animate-scale-out: scale-out 200ms ease;
  --animate-fade-in: fade-in 200ms ease;
  --animate-fade-out: fade-out 200ms ease;
  --animate-enter-from-left: enter-from-left 250ms ease;
  --animate-enter-from-right: enter-from-right 250ms ease;
  --animate-exit-to-left: exit-to-left 250ms ease;
  --animate-exit-to-right: exit-to-right 250ms ease;
  --animate-slide-in-from-right: slide-in-from-right 500ms ease;
  --animate-slide-out-to-right: slide-out-to-right 500ms ease;

  @keyframes scale-in {
    0% {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
  }

  @keyframes scale-out {
    0% {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
    100% {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.95);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes enter-from-left {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enter-from-right {
    0% {
      opacity: 0;
      transform: translateX(200px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes exit-to-left {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @keyframes exit-to-right {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  @keyframes slide-in-from-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-out-to-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background-color: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}
